.row {
  max-width: 120rem;
  margin: 0 auto; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }

.col-1-of-3 {
  width: calc(100%/3); }

.col-1-of-4 {
  width: calc(100%/4); }

.col-1-of-5 {
  width: calc(100%/5); }

.col-4-of-5 {
  width: calc(4 * (100%/5)); }

.col-1-of-2 {
  width: calc(100%/2); }

.col-3-of-4 {
  width: calc(3 * (100%/4)); }

.col-3-of-10 {
  width: calc(3*(100%/10)); }

.header {
  background-color: #1a3b69; }
  .header a:visited,
  .header a:link {
    text-decoration: none;
    color: white;
    font-size: 3rem; }

.login-information {
  text-align: right; }
  .login-information a:visited,
  .login-information a:link {
    font-size: 1.8rem; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.dataTables_wrapper {
  width: 100%; }

.information-section, .order-section {
  margin-top: 2rem; }

.section-title {
  font-size: 2rem;
  width: 100%;
  background-color: #1a3b69;
  color: white;
  padding: 1rem; }

.main-section__toolbar {
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  padding: .5rem 0; }
  .main-section__toolbar--bottom .navigation {
    margin: 0 auto; }
    .main-section__toolbar--bottom .navigation .pagination {
      margin-bottom: 0; }
      .main-section__toolbar--bottom .navigation .pagination .page-link {
        border-radius: 0;
        border: none;
        font-size: 1.5rem;
        color: #777; }
      .main-section__toolbar--bottom .navigation .pagination .active .page-link {
        background-color: rgba(30, 202, 204, 0.8);
        color: white; }

.main-section__toolbar--item {
  font-size: 1.5rem;
  line-height: 1.5rem; }
  .main-section__toolbar--item:not(:last-child) {
    border-right: 1px solid #E1E1E1; }

.main-section__toolbar--showing {
  padding: .75rem 0; }

.main-section__toolbar--products-per-page .products-per-page-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%; }
  .main-section__toolbar--products-per-page .products-per-page-dropdown select {
    color: #777;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    text-indent: 0.01px;
    text-overflow: '';
    width: 100%;
    height: 100%;
    outline: none;
    -webkit-appearance: button; }
  .main-section__toolbar--products-per-page .products-per-page-dropdown::before, .main-section__toolbar--products-per-page .products-per-page-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none; }
  .main-section__toolbar--products-per-page .products-per-page-dropdown::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
    color: rgba(0, 0, 0, 0.4); }
  .main-section__toolbar--products-per-page .products-per-page-dropdown::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0; }

.main-section__toolbar--pagination {
  position: relative; }
  .main-section__toolbar--pagination .pagination-container {
    position: absolute;
    right: 0;
    height: 100%; }
    .main-section__toolbar--pagination .pagination-container .navigation {
      height: 100%; }
      .main-section__toolbar--pagination .pagination-container .navigation .pagination-list {
        height: 100%;
        margin-bottom: 0; }
        .main-section__toolbar--pagination .pagination-container .navigation .pagination-list a:visited,
        .main-section__toolbar--pagination .pagination-container .navigation .pagination-list a:link {
          height: 100%;
          text-decoration: none;
          border: none;
          border-radius: 0;
          color: #777; }
        .main-section__toolbar--pagination .pagination-container .navigation .pagination-list .active a:visited,
        .main-section__toolbar--pagination .pagination-container .navigation .pagination-list .active a:link {
          color: white;
          background-color: rgba(30, 202, 204, 0.8); }
